

.button__container {
   position: absolute;
   top: 55%;
   left: 7%;
   width: 86%;
   /* height: 50px; */
   display: flex;
   justify-content: space-between;
}

.bttn {
    width: 30px;
    height: 30px;
    padding: 10px;
    background-color: #ffffff74;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

