
.row {
    position: relative;
}

.button__container {
   position: absolute;
   padding: 0px;
   bottom: 40%;
   left: 0;
   width: 100%;
   display: flex;
   justify-content: space-between;
   
}

.bttn {
    width: 40px;
    height: 40px;
    padding: 10px;
    background-color: #ffffff;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.de_countdown {
    display: flex;
    gap: 4px;
}

.de_countdown.bg-color-secondary {
  border: none;
}
